.search-result {
    padding: 10px 20px;

}
.search-result:hover {
    background-color: #efefef;
    cursor: pointer;
}

.profilepic {
    width: 50px;
    height: 50px;
    object-fit: cover; 
    border-radius: 50%; 
    margin: 0 auto 5px;
}