.who-likes-this-list {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .who-liked-this-span{
    vertical-align: 10px;
  }
  
  .liked-user {
    padding-top: 4px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px; 
    font-size: 15px;
  }
  
  .smallcirclemask {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff;
    object-fit: cover;
    margin-right: 10px; 
  }
  
  .smallcirclemask img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  