/* =============== THREAD CONTAINER =================== */
.thread-container {
  width: 500px;
  margin: 35px auto; 
  display: grid; /* Enable the grid layout */
}

.who-liked-this-list{
  background-color: #7793cc;
  color: white;
  padding-left: 10px;
  font-size: 14px;
  z-index: 200;
}

/* =============== POST CONTAINER =============*/
.post-container {
  position: relative;
  box-shadow: 0px 0px 6px #d9dbdf; /* adding small amount of dropshadow instead of border to distinguish between forms and posts/comments*/
  /* border: 2px solid #4267B2; */
  background-color: #ffffff;
  border-radius: 5px;

  width: 100%;
  /* margin: 20px auto;  */
  display: grid; /* Enable the grid layout */

  grid-template-rows: 100px auto auto ; /* Define rows, adjust as needed */
  grid-template-columns: 100px auto; /* One column, adjust as needed */
  grid-gap: 5px; /* Adjust the gap between grid items */

}

/* =============== TRENDING POST LABEL =============*/

.trending-label {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}
.trending-label {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer; /* Add this to make the cursor change on hover */
}

.trending-label:hover::before {
  content: 'Trending'; /* Add the tooltip content */
  position: absolute;
  top: 30px;
  right: -50px;
  background-color: #333; /* Tooltip background color */
  color: #fff; /* Tooltip text color */
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
}

/* =============== COMMENTS CONTAINER =============*/
.comments-container {
  width: calc(100%-50px);
  text-align: right
}



/* ============= DISPLAY PICTURE ============*/
.circle-container {
  margin: auto;
  margin-top: 13px;
  margin-left: 13px;
  width: 80px;
  height: 80px;
  border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
  overflow: hidden; /* Clip the content to the rounded shape */
  background-color: #ffffff; 
}

  .circle-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain the aspect ratio while covering the container */
  }



/* ================ AUTHOR & TIMESTAMP ================ */

.author-and-timestamp{
    max-height: 100px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 35px;
    padding-left: 2px;

  }

  .user-full-name {
    /* background-color: aqua; */
    font-weight: bold;
    font-size: 22px;
    margin: 5px;
    margin-bottom: 0px;
    
  }
  .date-posted {
    /* background-color: rgb(96, 141, 141); */
    font-style: italic;
    color: grey;
    margin: 5px;
  }

/* ================ CONTENT ================ */

.content{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 11px;
  padding-right: 10px;
}

  .message{
    font-size: 16px;
    text-align: left;
    margin: 5px;
    margin-top:4px;
    margin-bottom:10px;
  }

  .post-image {
    max-width: 100%;
    height: auto;
    /* grid-column: 1;
    grid-row: 4; */
  }

/* =================== REACTIONS BAR =============== */
.reactions{
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  background-color: #4267B2;
}

  .liked-users{
    text-align: left;
  }

  .icon{
    font-size: 20px;
    vertical-align: -4px;
  }

  .like-button,
  .unlike-button {
    font-size: 20px;
    background-color: transparent; /* Set the default background color to transparent */
    border: none;
    color: white;
    padding: 0px 16px;
    padding-left: 18px;
    padding-right: 16px;
    margin: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .like-button:hover,
  .unlike-button:hover,
  .show-leave-comment-box-button:hover,
  .show-comments:hover,
  .show-leave-comments-box-button:hover,
  .who-liked-this:hover {
    background-color: #5B7EC2; /* Set the background color on hover */
  }

  .show-leave-comment-box-button,
  .show-comments,
  .show-leave-comments-box-button,
  .who-liked-this {
    font-size: 14px;
    background-color: transparent; /* Set the default background color to transparent */
    border: none;
    color: white;
    padding: 0px 15px;

    margin: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }


  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    font-size: small;
    visibility: hidden;
    width: 150px;
    background-color: #5B7EC2;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1px 0;
    position: absolute;
    z-index: 1;
    top: 50%; /* Adjust the tooltip's position vertically */
    left: calc(100% + 10px); /* Adjust the tooltip's position horizontally */
    transform: translateY(-50%); /* Center vertically */
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #5B7EC2 transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
