/* Create a top navigation bar with a black background color  */
.topnav {
    background-color: #5B7EC2;
    display: flex;
    overflow: hidden;
    /* height: 70px; */
    align-items: center;
  }
  
  /* Style the links inside the navigation bar */
  .txt {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
  }
  
  /* Change the color of links on hover */
  .txt:hover {
    background-color: #4267B2;
    color: white;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .txt.right {
    float: right;
    background-color: #4267B2;
    color: white;
    margin-left: auto;
  }
  .txt.right:hover {
    float: right;
    background-color: #4267B2;
    color: white;
  }
  .topnav a.image img{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 17px;
    width: auto;
    height: 50px;
  }
  .topnav a.image img:hover {
    background-color: #4267B2;
  }