/* Create a top navigation bar with a black background color  */
.topnav {
    background-color: #5B7EC2;
    display: flex;
    align-items: center;
    z-index: 200;
    box-shadow: 0px 0px 4px #586278; /* adding small amount of dropshadow */
    
  }
  
  /* Style the links inside the navigation bar */
  .txt {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
  }

  .navbarname {
    font-family: 'Staatliches', sans-serif;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
  }
  
  /* Change the color of links on hover */
  .navbarname:hover {
    background-color: #4267B2;
    color: white;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .txt.right {
    float: right;
    background-color: #4267B2;
    color: white;
    margin-left: auto;
  }
  .txt.right:hover {
    float: right;
    background-color: #4267B2;
    color: white;
  }
  .topnav a.image img{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: px 15px;
    text-decoration: none;
    font-size: 17px;
    width: auto;
    height: 50px;
    padding-right: 20px;
  }

  .smallcirclemasknav {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff;
    /* object-fit: cover; */
    margin-right: 10px; 
  }
  .smallcirclemasknav img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
