/* ProfilePage.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  text-decoration: underline;
}

.right {
  float: right;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-header h1 {
  color: #333;
}

.profile-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info h2 {
  color: #555;
}

.bio {
  display: block;
  margin-top: 10px;
  color: #777;
}
/* .profilepic {
  max-width: 25%; 
  border-radius: 12%;
  margin-bottom: 5px;
} */

.profilepic {
  max-width: 120px; /* Set the maximum width to 100px */
  height: 120px; /* Set the height to 100px */
  object-fit: cover; /* Ensure the image covers the entire container */
  border-radius: 50%; /* Make the image circular */
  margin: 0 auto 5px; /* Center the image and add bottom margin */
}



/* Add your additional styling as needed */

  