/* ProfilePage.css */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.wrap {
    width: 100%;
    }
    
    .floatleft {
        float:left; 
        width: 40%;
        height: 400px;
        padding: 20px; /* Add padding to create space around the elements */
        box-sizing: border-box; 
        
    }
    
    .floatright {
    float: right;
    vertical-align: center;
    /* height: 400px; */
    width: 60%;
    }

    .name {
      font-family: 'Staatliches', sans-serif;
      margin: 0;
      padding: 0;
      color: #5B7EC2
    }



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #0000;
}

a:hover {
  text-decoration: underline;
}

.right {
  float: right;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-header h1 {
  color: #333;
}

.profile-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info h2 {
  color: #555;
}

.bio {
  display: block;
  margin-top: 10px;
  color: #777;
  margin-right: 30%;
}

.profilepic {
  float: right;
  margin: auto;
  margin-top: 13px;
  margin-left: 13px;
  width: 185px;
  height: 185px;
  border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
  overflow: hidden; /* Clip the content to the rounded shape */
  background-color: #ffffff; 
}

.UpdateButton,
.friend-request-button-cancel,
.friend-request-button-add,
.unfriend-button {
  float: left;
  width: 150px; /* Set your desired fixed width for the submit button */
  color: white;
  padding: 14px 20px;
  margin: 0 auto;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex; 
  justify-content: center; 
}




.UpdateButton,
.friend-request-button-cancel,
.friend-request-button-add,
.unfriend-button {
  background-color: #4267B2;
}

.UpdateButton:hover,
.friend-request-button-cancel:hover,
.friend-request-button-add:hover,
.unfriend-button:hover {
  background-color: #5B7EC2;
}

.spacer {
  height: var(--spacer-height, 20px);
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.smallerButton {
  float: left;
  width: 150px; /* Set your desired fixed width for the submit button */
  background-color: #4267B2;
  color: white;
  padding: 5px 20px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex; 
  justify-content: center; 

}

.smallerButton:hover {
  background-color: #5B7EC2;
}

.Profileinput-oneline {
  width: 450px;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 2px solid #4267B2;
  resize: none;
}

.Profileinput-multiline {
  width: 450px;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid #4267B2;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  outline: none;
}

.Pagetitle{
  font-family: 'Staatliches';
  color:#4267B2;
  font-size: 30px;
  text-align: center;
}

/* Add your additional styling as needed */

  