

#newsfeed-title {
    font-family: 'Staatliches', sans-serif;
    color: #4267B2;
    display: flex;
    font-size: 40px;
    margin: 35px auto;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 500px;
    align-items: center;
}
/* =============== SORT BY DROPDOWN =================== */

.dropdown {
    margin: auto;
    width: 500px;
  }

/* Dropdown Button */
.dropbtn {
    background-color: #4267B2;
    color: white;
    padding: 14px;
    font-size: 16px;
    min-width: 230px;
    border: none;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #5B7EC2;}