
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');



.wrap {
    width: 100%;
    }
    
    .floatleft {
        float:left; 
        width: 40%;
        height: 400px;
        padding: 20px; /* Add padding to create space around the elements */
        box-sizing: border-box; 
        
    }
    
    .floatright {
    float: right;
    vertical-align: center;
    /* height: 400px; */
    width: 60%;
    }
    
    .title{
        font-family: 'Staatliches', sans-serif;
        color:#4267B2;
        font-size: 50px;
    }

    .spacer {
        height: var(--spacer-height, 20px);
      }

      .subtitles {
        font-family: 'Staatliches', sans-serif;
        color: #4267B2;
        font-size: 20px;
        display: flex; 
        justify-content: center; 
        align-items: center; 
      }
      #welcome-to-acebook{
        font-size: 30px;
      }
      #feed-title{
        font-size: 40px;
      }
      

/* Buttons */
.Button {
  width: 150px; /* Set your desired fixed width for the submit button */
  background-color: #4267B2;
  color: white;
  padding: 14px 20px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.Button:hover {
  background-color: #5B7EC2;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}



